body{

	background: url(http://www.bfoto.ru/foto/natyagnie_potolki/bfoto_ru_4344.jpg);
 	background-size: 100%;
}

#footer {
	position: fixed;
	margin: auto;
    bottom: 0;
    left: 43%;
    color: #605b5b;  
}

#countries{
	border-radius: 5px;
	box-shadow: 37px;
  	width: 200px; 
    background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 3px black; 
    float: left;
}
#cit{
	border-radius: 5px;
	width: 250px; 
    background: #CCCCCC; 
    padding: 5px; 
    border: solid 3px black; 
    float: left; 
    position: relative; 
    top: 0px; 
    left: 0px; 
}

#lang{

	border-radius: 5px;
	width: 200px; 
    background: #CCCCCC; 
    padding: 5px; 
    border: solid 3px black; 
    float: left; 
    position: relative; 
    top: 0px; 
    left: 0px; 
}

#nation
{
	text-align: center;
   border-radius: 10px;
    border:1px solid #000000; 
    background-color:#00fffa; 
    color:#000; 
    width:550px; 
    height:550px; 
    position:relative; 
    left:100px;
    box-shadow: 0 0 15px 5px
}
#langu{
text-align: center;
   border-radius: 20px;
    border:1px solid #000000; 
    background-color:#00fffa; 
    color:#000; 
    width:520px; 
    height:500px; 
    position:relative; 
    left:100px;
    box-shadow: 0 0 10px 2px;
}
